<h1>Edit product</h1>

<%= render "form", product: @product %>
<%= link_to "Cancel", @product %>
<%= link_to "New product", new_product_path if authenticated? %>
<%= link_to "Login", new_session_path unless authenticated? %>

